In [2]:
'I'm taking the python exam'

SyntaxError: unterminated string literal (detected at line 1) (709393099.py, line 1)

In [3]:
"I'm taking the python exam"

"I'm taking the python exam"

In [4]:
'I\'m taking the python exam'

"I'm taking the python exam"

In [5]:
print('I\'m taking the python exam')

I'm taking the python exam

In [6]:
""" ??? """

' ??? '

In [9]:
class Persoana:
    """
    Docstring for Persoana - ***
    """

In [10]:
help(Persoana)

Help on class Persoana in module __main__:

class Persoana(builtins.object)
 |  Docstring for Persoana - ***
 |
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [11]:
Persoana.__doc__

'\nDocstring for Persoana - ***\n'

In [12]:
print('I\'\n')

I'

In [13]:
1st_var = 'hello'
print(1st_var)

SyntaxError: invalid decimal literal (2829372498.py, line 1)

In [14]:
from = 'hello'
print(from)

SyntaxError: invalid syntax (2903004311.py, line 1)

In [15]:
greeting = 'hello'
print(Greeting)
Greeting = 'How are you'

NameError: name 'Greeting' is not defined

In [16]:
has_greeted = true
print(has_greeted)

NameError: name 'true' is not defined

In [17]:
has_greeted = True
print(has_greeted)

True

In [18]:
has_greeted = 'true'
print(has_greeted)

true

In [19]:
true = 0
has_greeted = true
print(has_greeted)

0

In [23]:
a = 100_200_300
print(a, type(a))

100200300 <class 'int'>

In [22]:
a = 100200300
print(a, type(a))

100200300 <class 'int'>

In [24]:
a = 1_200_300_400
print(a, type(a))

1200300400 <class 'int'>

In [25]:
a = 5E10
print(a)

50000000000.0

In [26]:
a = 5 * 10 ** 10
print(a)

50000000000

In [27]:
number = 1234567890
f"{number:,.2f}"

'1,234,567,890.00'

In [29]:
number = 1234567890
f"{number:,}"

'1,234,567,890'

In [34]:
a = 8E-5
print(a, type(a))

8e-05 <class 'float'>

In [36]:
print(a)

8e-05

In [37]:
print(str(a))

8e-05

In [40]:
f"{a:,.5f}"

'0.00008'

In [43]:
a = 8 * 10 ** (-4)
a

0.0008

In [44]:
a = 0X20
print (a)

32

In [45]:
a = 0XFF
print (a)

255

In [47]:
# baza 16: 0...15  A-10, B-11, C-12, D-13, E-14, F-15

In [48]:
a = 0XFFFFFF # 255 (R) 255 (G) 255 (B)
print (a)

16777215

In [49]:
# hello = "kjdk"
print (hello)

NameError: name 'hello' is not defined

In [50]:
print (9//2)

4

In [51]:
print (9/2)

4.5

In [52]:
print (int(11/2))

5

In [53]:
print(int(4.9))

4

In [ ]:
11 % 2

1

In [55]:
print (9*"2")

222222222

In [56]:
print ("2"+"2")

22

In [ ]:
print ("2"*9.1)

TypeError: can't multiply sequence by non-int of type 'float'

In [58]:
print ("2"*"9")

TypeError: can't multiply sequence by non-int of type 'str'

In [59]:
print (9+"2")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [60]:
print (9**2)

81

In [61]:
print (2*1**2)

2

In [62]:
print ('a'+'b'*2+4*'a' )

abbaaaa

In [63]:
x = 2**2**3
print (x)

256

In [64]:
a = 2
b = 3

In [65]:
aux = a
a = b
b = aux
print("a=", a)
print("b=", b)

a= 3
b= 2

In [66]:
a, b

(3, 2)

In [67]:
a, b = b, a

In [69]:
# packing
x = (66, 88)
x

(66, 88)

In [70]:
# unpacking
m, n = x
print("m=", m)
print("n = ", n)

m= 66
n =  88

In [71]:
q, w = (100, 200, 300)

print("q=", q)
print("w=", w)

ValueError: too many values to unpack (expected 2, got 3)

In [72]:
q, w, e, r = (100, 200, 300)

print("q=", q)
print("w=", w)

ValueError: not enough values to unpack (expected 4, got 3)

In [74]:
q, w, _ = (100, 200, 300)

print("q=", q)
print("w=", w)
print("_", _)

q= 100
w= 200
_ 300

In [75]:
_ + 320

620

In [76]:
q, *w = (100, 200, 300)

print("q=", q)
print("w=", w)

q= 100
w= [200, 300]

In [77]:
q, *w = (100, 200, 300, 400, 500, 600)

print("q=", q)
print("w=", w)

q= 100
w= [200, 300, 400, 500, 600]

In [78]:
q, *w, r = (100, 200, 300, 400, 500, 600)

print("q=", q)
print("w=", w)
print("r=", r)

q= 100
w= [200, 300, 400, 500]
r= 600

In [80]:
q, *w, r = (100, 200, 600)

print("q=", q)
print("w=", w, type(w))
print("r=", r)

q= 100
w= [200] <class 'list'>
r= 600

In [83]:
def functie(*args, a):
    print("args", args, type(args))

In [85]:
functie(231, 321, 31, a=23)

args (231, 321, 31) <class 'tuple'>

In [86]:
temperatura = input("Introduceți temperatura")
print ("Temperature în grade Fahrenheit este " + temperatura*1.8)

TypeError: can't multiply sequence by non-int of type 'float'

In [88]:
temperatura = int(input("Introduceți temperatura"))
print ("Temperature în grade Fahrenheit este " + temperatura*1.8)

TypeError: can only concatenate str (not "float") to str

In [89]:
temperatura = int(input("Introduceți temperatura"))
print ("Temperature în grade Fahrenheit este ", temperatura*1.8)

Temperature în grade Fahrenheit este  57.6

In [90]:
temperatura = int(input("Introduceți temperatura"))
print ("Temperature în grade Fahrenheit este ", temperatura*1.8)

Temperature în grade Fahrenheit este  577.8000000000001

In [94]:
temperatura = int(input("Introduceți temperatura"))
print ("Temperature în grade Fahrenheit este ", temperatura*1.8)

ValueError: invalid literal for int() with base 10: '21d'

In [95]:
a = 10
b = 0
print ( a/b ) if (b > 0 ) else print ( a )

10

In [96]:
10 / 0

ZeroDivisionError: division by zero

In [97]:
x = 10 or 10 / 0
x

10

In [98]:
x = True or 10 / 0
x

True

In [100]:
x = True or jdsajkdhjashdkjashkjdhaskjh 
x

True

In [101]:
x = False or jdsajkdhjashdkjashkjdhaskjh 
x

NameError: name 'jdsajkdhjashdkjashkjdhaskjh' is not defined

In [104]:
x = 10 / 0 or True

ZeroDivisionError: division by zero

In [105]:
x = input("Introdu...") 
x

''

In [106]:
x = "32131"
bool(x)

True

In [107]:
x = " "
bool(x)

True

In [108]:
x = ""
bool(x)

False

In [109]:
x = "text"

if x:
    print("Adevarat")
else:
    print("Fals")

Adevarat

In [110]:
x = ""

if x:
    print("Adevarat")
else:
    print("Fals")

Fals

In [115]:
x = ""

if bool(x):
    print("Adevarat")
else:
    print("Fals")

Fals

In [111]:
x = None

if x:
    print("Adevarat")
else:
    print("Fals")

Fals

In [116]:
x = None

if bool(x):
    print("Adevarat")
else:
    print("Fals")

Fals

In [117]:
bool(None)

False

In [112]:
x = 23

if x:
    print("Adevarat")
else:
    print("Fals")

Adevarat

In [113]:
x = -23

if x:
    print("Adevarat")
else:
    print("Fals")

Adevarat

In [114]:
x = 0

if x:
    print("Adevarat")
else:
    print("Fals")

Fals

In [118]:
x = input("Introdu...") or "333"
x

'333'

In [119]:
x = input("Introdu...") or "333"
x

'43423'

In [120]:
x = input("Introdu...") 
if not x:
    x = "333"
x

'333'

In [121]:
x = input("Introdu...") 
if not x:
    x = "333"
x

'321312ds'

In [122]:
print(0xA + 0xB + 0xC)

33

In [127]:
i = 1
while i < 6:
    i += 1
    if i == 3 :
        break
else:
    i+=1
    print("i=", i)
    print("Acest else se executa la finalul buclei")
    
i += 1
print ("Value of i is : ", i)

Value of i is :  4

In [126]:
i = 1
while i < 6:
    i += 1
else:
    i+=1
    print("i=", i)
    print("Acest else se executa la finalul buclei")

i += 1
print ("Value of i is : ", i)

i= 7
Acest else se executa la finalul buclei
Value of i is :  8

In [129]:


for i in range(10):
    print("i=", i)
else:
    print("Am ajuns la finalul buclei")

print("Dupa bucla")

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9
Am ajuns la finalul buclei
Dupa bucla

In [130]:
for i in range(10):
    print("i=", i)
    if i % 7 == 0:
        break
else:
    print("Am ajuns la finalul buclei")

print("Dupa bucla")

i= 0
Dupa bucla

In [134]:
lista = [10, 20, 30, 40, 50, 60]

for i in lista:
    if i % 7 == 0:
        este_divizibil = True
else:
    este_divizibil  = False

print("Exista numar divizibil cu 7??", este_divizibil)

Exista numar divizibil cu 7?? False

In [141]:
for i in range(-5, 4, 2):
    if(i<0):
        continue
    print(i, end= " ")

1 3

In [138]:
list(range(0, 4, 2))

[0, 2]

In [139]:
list(range(0, 5, 2))

[0, 2, 4]

In [140]:
list(range(-5, 4, 2))

[-5, -3, -1, 1, 3]

In [143]:
total = 0 
for i in range(-10, 0, 2):
    if(i<-7):
        continue
    total += 1    
else:
    print("total:", total)

total: 3

In [144]:
total = 0 
for i in range(-10, 0, 2):
    if(i<-7):
        continue
    total += 1    
    if i == 0:
        break

else:
    print("total:", total)

total: 3

In [145]:
total = 0 
for i in range(-10, 0, 2):
    if(i<-7):
        continue
    total += 1    
    if i == -1:
        break

else:
    print("total:", total)

total: 3

In [146]:
list(range(-10, 0, 2))

[-10, -8, -6, -4, -2]

In [150]:
total = 0 
for i in range(-10, 0, 2):
    if(i<-7):
        continue
    total += 1    
    if i == -2:
        break

else:
    print("total:", total)

print("total dupa for:", total)

total dupa for: 3

In [151]:
def fun(x = 4, y = 5):
    y -= 1
    return x * y * 1
print(fun())

16

In [152]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(nums[::-5])

[7, 2]

In [153]:
text = "buna ziua"

text[::-1]

'auiz anub'

In [154]:
text = "buna ziua"
reversed(text)

In [155]:
text = "buna ziua"
list(reversed(text))

['a', 'u', 'i', 'z', ' ', 'a', 'n', 'u', 'b']

In [156]:
text = "buna ziua"
"".join(reversed(text))

'auiz anub'

In [159]:
text = "buna ziua"
new_text = ""

for ch in text:
    new_text = ch + new_text 
    print("new_text:", new_text)

print(new_text)

new_text: b
new_text: ub
new_text: nub
new_text: anub
new_text:  anub
new_text: z anub
new_text: iz anub
new_text: uiz anub
new_text: auiz anub
auiz anub

In [161]:
text = "buna ziua"


map(ord ,text)

In [160]:
ord("b")

98

In [162]:
text = "buna ziua"
list(map(ord ,text))

[98, 117, 110, 97, 32, 122, 105, 117, 97]

In [ ]:
def functie_map (x):
    return str(x) ## mapat/transformat

In [ ]:
text = "buna ziua"
list(filter(ord ,text))

In [163]:
def functie_filter (x):
    return x > "m"  ## filtrez dupa conditie

In [164]:
text = "buna ziua"
list(filter(functie_filter ,text))

['u', 'n', 'z', 'u']

In [165]:
text = "buna ziua"
list(filter(lambda x: x > "m" ,text))

['u', 'n', 'z', 'u']

In [166]:
from functools import reduce

In [168]:
text = "buna ziua"


def functie_reduce(x, y):
    print("x=", x)
    print("y=", y)
    print( )
    return y + x ## reduce pe x si y la o noua valoare, care va devenit noul x si va fi apelata cu urmatorul y


reduce(functie_reduce, text)

x= b
y= u

x= ub
y= n

x= nub
y= a

x= anub
y=

x=  anub
y= z

x= z anub
y= i

x= iz anub
y= u

x= uiz anub
y= a

'auiz anub'

In [169]:
text = "buna ziua"
reduce(lambda x, y: y+x, text)

'auiz anub'

In [170]:
a = 0b1011
b = 0b1001
print(bin(a ^ b))

0b10

In [171]:
a = 0b1011
a

11

In [172]:
b

9

In [173]:
a ^ b

2

In [179]:
a = 10 
a << 1
print("bin(a)", bin(a))
print("bin(a << 1)", bin(a << 1), a << 1)
print("bin(a << 2)", bin(a << 2), a << 2)

bin(a) 0b1010
bin(a << 1) 0b10100 20
bin(a << 2) 0b101000 40

In [181]:
a = 10 
a >> 1
print("bin(a)", bin(a), a)
print("bin(a >> 1)", bin(a >> 1), a >> 1)
print("bin(a >> 2)", bin(a >> 2), a >> 2)

bin(a) 0b1010 10
bin(a >> 1) 0b101 5
bin(a >> 2) 0b10 2

In [183]:
a = 0x10 
a | a

16

In [186]:
a = 0x1100
b = 0x1010

bin(a ^ b)

'0b100010000'

In [184]:
a & a

16

In [187]:
val = ['Python', 'Tuple']
val_t = tuple(val)
val_t.pop()
print(val_t)

AttributeError: 'tuple' object has no attribute 'pop'

In [188]:
val = ['Python', 'Tuple']
val_t = val
val_t.pop()
print(val_t)

['Python']

In [189]:
val = ['Python', 'Tuple']
val_t = val
val_t.pop(0)
print(val_t)

['Tuple']

In [190]:
greeting = "Good Morning"
for ch in greeting:
    if ch == 'o':
        break
    print(ch)
else:
    print("Good Night")

G

In [191]:
greeting = "Good Morning"
for ch in greeting:
    if ch == 'o':
        continue
    print(ch, end=" ")
else:
    print("Good Night")

G d   M r n i n g Good Night

In [192]:
tupl = tuple('Python World!')
print(tupl[:-7])

('P', 'y', 't', 'h', 'o', 'n')

In [193]:
tupl = 'Python World!'
print(tupl[:-7])

Python

In [194]:
x = 100
def glob():
    global x
    x = 20
glob()
print(x)

20

In [195]:
a = input()
b = int(input())
print(a*b)

222

In [196]:
myList = [5, 10, 28, 32, 97, 103]
print(32 in myList)

True

In [197]:
x = "32131ASFF"
x.isalnum()

True

In [198]:
x = "32131ASFF"
x.isalpha()

False

In [199]:
x = "dsaASFF"
x.isalpha()

True

In [200]:
x = "dsaASFF##@!"
x.isalpha()

False

In [201]:
x = "dsaASF F"
x.isalpha()

False

# find vs index

In [202]:
"salut".find("m")

-1

In [203]:
"salut".find("a")

1

In [204]:
"salut salut".find("a")

1

In [205]:
"salut salut".index("a")

1

In [206]:
"salut salut".index("m")

ValueError: substring not found

In [207]:
"333".zfill(10)

'0000000333'

In [208]:
"333".zfill(3)

'333'

# Functia zfill -> pune zero-uri in fata stringului

In [210]:
print("333".zfill(10))
print("12341231".zfill(10))
print("31231".zfill(10))

0000000333
0012341231
0000031231